<head>
        <title>Histopathology Diagnosis</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css', v=0.01) }}">
        <link rel="icon" type="image/png" href="./static/css/lazo.png">
    </head>


 
<body>
  <table style="width:100%">
        <tr>
          <th>Diagnóstico Histopatológico</th>
        </tr>
        <tr>
          <td>{{ pred }}</td>
          <td> Invasive Ductal Carcinoma (IDC), el subtipo más común de cáncer de mama. </td>
        </tr>
      </table> 
    
    </body>