<!DOCTYPE html>
<html lang="en">

<head>
    <title>Histopathology Diagnosis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css', v=0.01) }}">
    <link rel="icon" type="image/png" href="./static/css/lazo.png">
</head>

 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    
                    </li>
                </ul>
            </nav>
            <h4 class="text-muted">Diagnóstico histopatológico</h4>
        </div>
  <table style="width:20%">
        <tr>
          <th bgcolor="#42BA70">{{ pred['Diagnóstico histopatológico']}}</th>
        </tr>
      </table>
      <h6>El Carcinoma Ductal Invasivo (CDI) es el subtipo más frecuente <br />
        de tumor de mama. BCD trabaja con imágenes histopatológicas de  <br />
        tejido tumoral escaneadas a 40x para detectar ICD.</h6> 
      <img src="./static/css/hisstop.png">
    </body>

    </html>