<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Breast Cancer Detector</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css', v=0.01) }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="./static/css/lazo.png">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Machine Learning App</h3>
        </div>
        
        <div class="jumbotron">
            <h1>Breast Cancer Detector</h1>
            <p class="lead"></p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>BCD es una app de Machine Learning desarrollada para ayudar al personal médico en el diagnóstico de cáncer de mama.</h4>
                <p>El cáncer de mama es el tipo de cáncer más frecuente entre las mujeres españolas.<br /> 
                    Aproximadamente 1 de cada 8 mujeres son diagnosticadas con cáncer de mama a lo largo de su vida.<br /> 
                    Hay una alta probabilidad de recuperación si el tumor es detectado en un estadio temprano.<br />
                </p>

                
                <h5>INSERTE UNA IMAGEN HISTOPATOLÓGICA </h5>
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" id="file" class="inputfile"/>
                        <label for="file">Cargar Imagen</label>
                        <input type="submit" name="submit" id="submit" class="inputfile"/>
                        <label for="submit">Hacer diagnóstico</label>
                    </form>
                <h6>*BCD es una herramienta en desarrrollo. El diagnóstico final debe ser confirmado por un doctor. </h6>
            </div>

        </div>
        <img src="./static/css/api_image.jpg">
        
        <footer class="footer">
            <p>&copy; Celia Prieto Segura | 2019</p>
        </footer>
 
    </div>
</body>
 
</html>